<template>
  <div class="header">
    <h1 class="title">Tasks4All</h1>
    <ul>
      <li>
        <nuxt-link to="/">Home</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/about">About me</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/tasks">Tasks</nuxt-link>
      </li>
    </ul>
  </div>
</template>


<script>
export default {
  name: 'AppHeader'
}
</script>


<style>
  .header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #ccc;
  }

  .header .title {
    font-size: 3rem;
    color: #526488;
  }

  .header ul {
    display: flex;
  }

  .header ul li a {
    display: inline-block;
    background: #333;
    padding: 0.3rem 1rem;
    margin-right: 0.5rem;
  }
</style>

