<template>
  <form @submit.prevent="onSubmit">
    <input type="text" v-model="text" placeholder="Search task">
    <input type="submit" value="Search task">
  </form>
</template>


<script>
export default {
  name: 'SearchTask',
  data() {
    return {
      text: ''
    }
  },
  methods: {
    onSubmit() {
      this.$emit('search-text', this.text);
      this.text = '';
    }
  }
}
</script>


<style>
  form {
    padding: 1rem;
    border: 1px dotted #ccc;
    margin: 1rem 2rem;
  }
  input[type="text"] {
    width: 75%;
    background: #c3c4c511;
    border: none;
    padding: 20px;
  }
  input[type="submit"] {
    width: 24%;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 20px;
  }
  input[type="submit"]:hover {
    width: 24%;
    background: rgba(85, 83, 83, 0.8);
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 20px;
  }
</style>
