<template>
  <nuxt-link :to="'tasks/' + id">
    <div class="tasks alert alert-success">
      <p>{{ task }}</p>
    </div>
  </nuxt-link>
</template>


<script>
export default {
  name: 'Tasks',
  props: ['task', 'id']
}
</script>


<style>
  .tasks {
    padding: 1rem;
    border: 1px dotted #ccc;
    margin: 1rem 2rem;
  }
</style>
