<template>
  <div>
    <SearchTask v-on:search-text="searchText"/>
    <Tasks v-for='object in tasks' :key='object.id' :id='object.id' :task='object.task'/>
  </div>
</template>

<script>
// import axios from 'axios';
import Tasks from '../../components/Tasks';
import SearchTask from '../../components/SearchTask';


export default {
  components: {
    Tasks,
    SearchTask
  },
  data() {
    return {
      tasks: []
    }
  },
  created() {
    const firstTask = {
      'id': 'Bruno',
      'task': 'A vida é feita de escolhas.'
    }
    const secondTask = {
      'id': 'Deyvison',
      'task': 'Tudo posso naquele que me fortalece.'
    }
    this.tasks.push(firstTask, secondTask);
    console.log(this.tasks)
  },
  methods: {
    searchText(text) {

    }
  },
  /* async created() {
    const config = {
      headers: {
        'Accept': 'application/json'
      }
    }

    try {
      const res = await axios.get('http://localhost:4000', config);
      this.tasks = res.data.results;
      console.log(res.data);
    } catch (err) {
      console.log(err);
    }
  },*/
  head() {
    return {
      title: 'Task from app',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Tasks for all'
        }
      ]
    }
  }
}
</script>
