<template>
  <div class="task_id">
    <nuxt-link to="/tasks"> Back to tasks</nuxt-link>
    <h2>{{ tasks }}</h2>
    <hr>
    <small>Task ID: {{$route.params.id}}</small>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tasks: 'Aqui era pra eu pegar a task pertencente ao ID'
    }
  }
}
</script>


<style>
  .task_id {
    padding: 40px;
  }
</style>
