<template>
  <div>
    <h1>Hi from {{ name }}</h1>
    <nuxt-link to="/"> Home </nuxt-link>
  </div>
</template>

<script>
// import axios from 'axios'

export default {
  head() {
    return {
      title: 'About app',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Tasks for all'
        }
      ]
    }
  }
}
</script>

