<template>
  <div>
    <h1>Bem vind@ ao meu sistema</h1>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'Welcome to app',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Tasks for all'
        }
      ]
    }
  }
}
</script>
